git@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hello, world!</h1>
    <h2>My name is Kavin!</h2>
    <p>The time on the server is @DateTime.Now</p>
</div>
