@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="icon.jpg"></a>

    <h1>Hello, World!</h1>
    <p>The time on the server is @DateTime.Now</p>
</div>
